.tab button.active{
    color: black !important;
  /* background-color: pink !important; */
}
.tabcontent{
    display: none;
    padding: 6px 12px;
    border-top: none;
    /* transition: 6000ms ease-in; */

}
.tab .tab-indicator{
    position: relative;
    width: calc(100%/15);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    /* transition: 6000ms ease-in; */

}
.tab{
    /* transition: 1000ms ease-in; */
}